:root {
  --main-text-color: #272142;
  --main-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

.container,
body {
  padding: 10px;
  margin: 0 auto;
}

h1,
h2,
h3,
h5,
.nav-link,
.homepage-link,
.about-link {
  font-family: var(--main-font-family);
  font-weight: 700;
}

p {
  font-family: var(--main-font-family);
  font-weight: 400;
}

footer p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  text-align: right;
}
footer {
  background-color: #f9f7fe;
  margin-top: 100px;
}

h2,
p,
footer,
.nav-link,
.social-links a,
.about-link,
.mail-link,
.homepage-link,
.homepage-link:hover,
.about-link:hover {
  color: var(--main-text-color);
}

.contact-h5,
nav li.active a,
.nav-link:hover,
.social-links a:hover,
.mail-link:hover {
  color: #662eed;
}

footer .social-links a {
  max-height: 19px;
  max-width: 102px;
}

.content-h1 {
  font-size: 72px;
  line-height: 98px;
  margin: 26px auto 126px;
}
.content-h3 {
  font-size: 24px;
  line-height: 35px;
}
.content-h5 {
  font-size: 18px;
  line-height: 25px;
}

.hero h1,
.hero h3 {
  margin: 0 auto;
  color: white;
}

.homepage-link {
  display: block;
  text-align: left;
  margin: 20px 0;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
}
.homepage-link:hover,
.about-link:hover {
  opacity: 0.7;
}

.hero {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 58px;
}

.about-text {
  margin: 0 auto;
  padding: 10px;
}
.about-text h2 {
  font-size: 64px;
  line-height: 87px;
}
.about-img {
  margin: 0 auto;
}

.content-p {
  padding: 20px 0;
  font-size: 18px;
  line-height: 30px;
}
.about-hero-row {
  margin: 0 auto;
  max-width: 1000px;
}
.about-recipe-list h3 {
  font-size: 36px;
  line-height: 49px;
}

.about-recipe-list p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.about-link {
  display: block;
  text-align: left;
  margin: 20px 0;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}

hr {
  border-top: 2px dashed #67d5d2;
  max-width: 760px;
}
.recipe-rows,
footer {
  padding: 38px 140px;
}
.recipe-content {
  max-width: 760px;
  margin: 0 auto;
  padding: 0;
}
.recipe-h5 {
  color: #f65282;
  font-weight: 800;
}
.recipe-link {
  font-size: 36px;
}
.recipe-img {
  max-width: 760px;
  max-height: 450px;
  width: 100%;
}
.contact-hero {
  max-width: 966px;
}

.contact-p {
  line-height: 30px;
  font-size: 24px;
}

.logo {
  max-height: 25px;
  max-width: 150px;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
}
nav.navbar {
  padding: 48px 20px;
}
nav li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  footer,
  .hero,
  .about-hero,
  .recipe-rows {
    padding: 20px;
  }
  .homepage-link,
  .recipe-link {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
  .about-text,
  .about-link,
  .about-recipe-list p {
    text-align: center;
  }
  .about-recipe-list h3 {
    margin-bottom: 10px;
  }
  nav.navbar {
    justify-content: center;
  }
  .content-h1 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .content-p {
    padding: 0;
  }
}

@media (min-width: 992px) {
  nav .navbar,
  .about-recipe-list col-md-4 {
    padding: 48px 140px;
  }
}
