:root {
  --hero-color: rgb(148, 142, 142);
  --main-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--main-font-family);
  font-weight: 700;
}
h5 {
  font-family: var(--main-font-family);
  font-weight: normal;
}

h1 {
  color: white;
  font-size: 72px;
  line-height: 98px;
  margin: 0 auto;
}
h3 {
  color: white;
  font-size: 24px;
  line-height: 35px;
}
p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
}

.homepage-link {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #272142;
  text-decoration: none;
}
.container {
  padding: 88px 140px;
}
.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding-top: 47px;
  padding-bottom: 58px;
}
@media (max-width: 576px) {
  h1 {
    line-height: 1;
  }
  .homepage-link {
    text-align: center;
  }
  .container {
    padding: 26px 60px;
  }
}
